CleanArchitecture.Application/obj
CleanArchitecture.Common.Tests/obj
CleanArchitecture.Contracts/obj
CleanArchitecture.Domain/obj
CleanArchitecture.Functional.Tests/obj
CleanArchitecture.Infrastructure/obj
CleanArchitecture.Template/bin
CleanArchitecture.Template/obj
.vs/CleanArchitecture.Template/FileContentIndex
.vs
/CleanArchitecture.Application/bin/Debug/net6.0
/CleanArchitecture.Domain/bin/Debug/net6.0
/CleanArchitecture.Infrastructure/bin/Debug/net6.0
/CleanArchitecture.Contracts/bin/Debug/net6.0
